.b-alert {
	padding: 12px 16px;
	border: 1px solid #ccc;
	border-radius: 8px;
	text-align: center;
	font-size: 18px;
	overflow: hidden;

	&.--danger {
		background-color: #f2dede;
    	border-color: #ebcccc;
    	color: #a94442;
	}

	&.--info {
		background-color: #d9edf7;
    	border-color: #bcdff1;
    	color: #31708f;
	}

	&.--warn {
		background-color: #fcf8e3;
    	border-color: #faf2cc;
    	color: #8a6d3b;
	}
}