.weather-icon {
	display: block;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.wi01d { background-image: url('../images/01d.png'); }
.wi01n { background-image: url('../images/01n.png'); }
.wi02d { background-image: url('../images/02d.png'); }
.wi02n { background-image: url('../images/02n.png'); }
.wi03d { background-image: url('../images/03d.png'); }
.wi03n { background-image: url('../images/03n.png'); }
.wi04d { background-image: url('../images/04d.png'); }
.wi04n { background-image: url('../images/04n.png'); }
.wi09d { background-image: url('../images/09d.png'); }
.wi09n { background-image: url('../images/09n.png'); }
.wi10d { background-image: url('../images/10d.png'); }
.wi10n { background-image: url('../images/10n.png'); }
.wi11d { background-image: url('../images/11d.png'); }
.wi11n { background-image: url('../images/11n.png'); }
.wi13d { background-image: url('../images/13d.png'); }
.wi13n { background-image: url('../images/13n.png'); }
.wi50d { background-image: url('../images/50d.png'); }
.wi50n { background-image: url('../images/50n.png'); }
