.b-root {
	min-width: 380px;
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;

	.root__title {
		margin: 20px 0 30px;
		text-align: center;
		font-size: 35px;
	}

	.root__towns {
		margin: 30px 0;
	}

	.root__map {
		margin: 40px 0 30px;	
	}
}