.b-add-town {
	.add-town__title {
		margin-bottom: 10px;
		font-size: 20px;
		text-align: center;
	}

	.add-town__input-wrapper {
		margin-bottom: 15px;
	}	

	.add-town__input {
		display: block;
	    width: 100%;
	    padding: 8px 12px;
	    line-height: 1.25;
	    color: #55595c;
	    background-color: #fff;
	    background-image: none;
	    -webkit-background-clip: padding-box;
	    background-clip: padding-box;
	    border: 1px solid rgba(0,0,0,.15);
	    border-radius: 4px;
	    font-size: 16px;
	}

	.add-town__button {
    	display: inline-block;
	    font-weight: 400;
	    line-height: 1.25;
	    text-align: center;
	    white-space: nowrap;
	    vertical-align: middle;
	    cursor: pointer;
	    -webkit-user-select: none;
	    user-select: none;
	    border: 1px solid #adadad;
	    padding: 9px 16px 8px;
	    border-radius: 5px;
	    font-size: 16px;
        color: #373a3c;
    	background-color: #e6e6e6;
	}

	.add-town__output {
		margin-top: 10px;
		text-align: center;
	}

	.add-town__spinner {
		margin-top: 6px;
		margin-left: 15px;
	}

	.add-town__error {
		margin-top: 10px;
		margin-left: 15px;
	    color: #a94442;
	}
}