.b-towns {
	.towns__paginator {
		margin-bottom: 20px;
	}

	.towns__loader {
		margin: 80px 0 50px;
	}

	.towns__error {
		margin: 30px 0;
	}

	.towns__add {
		margin-top: 20px;
	}

	.towns__empty-list {
		margin-bottom: 30px;
	}
}