.b-app-header {
	height: 50px;
	padding: 8px 20px 0;
	border-radius: 4px;
	background: #f7f7f9;

	.app-header__nav-link {
		margin-left: 20px;
		font-size: 24px;
		color: #aaa;

		&:first-child {
			margin-left: 0;
		}

		&.--active {
			color: #31708f;
		}
	}

	.app-header__widget-trigger {
	    display: block;
	    float: right;
	    font-weight: 400;
	    line-height: 1.25;
	    text-align: center;
	    white-space: nowrap;
	    vertical-align: middle;
	    cursor: pointer;
	    -webkit-user-select: none;
	    user-select: none;
	    border: 1px solid #adadad;
	    padding: 6px 12px 5px;
	    border-radius: 5px;
	    font-size: 16px;
	    color: #373a3c;
	    background-color: transparent;
	    outline: none;

	    &.--active {
	    	border-color: #31708f;
	    	color: #31708f;
	    }
	}
}